<div id="cakephp-global-navigation">
	<ul>
		<li class="main"><a href="http://cakephp.org">CakePHP</a></li>
		<li class="primary"><a href="#" class="empty">Downloads</a>
			<ul class="second-level">
				<li><a href="https://github.com/cakephp/cakephp/tags">Releases</a></li>
				<li><a href="http://pear.cakephp.org">Pear channel</a></li>
			</ul>
		</li>
		<li class="primary"><a href="#" class="empty">Documentation</a>
			<ul class="second-level">
				<li class="cake-version"><a href="http://api.cakephp.org">API</a>
					<ul class="third-level">
						<li><a href="http://api.cakephp.org">2.3</a>&nbsp;|</li>
						<li><a href="http://api22.cakephp.org">2.2</a>&nbsp;|</li>
						<li><a href="http://api13.cakephp.org">1.3</a>&nbsp;|</li>
						<li><a href="http://api12.cakephp.org">1.2</a>&nbsp;|</li>
						<li><a href="http://api11.cakephp.org">1.1</a></li>
					</ul>
				</li>
				<li class="cake-version"><a href="http://book.cakephp.org">Book</a>
					<ul class="third-level">
						<li><a href="http://book.cakephp.org/2.0/en/">2.x</a>&nbsp;|</li>
						<li><a href="http://book.cakephp.org/1.3/en/">1.3</a>&nbsp;|</li>
						<li><a href="http://book.cakephp.org/1.2/en/">1.2</a>&nbsp;|</li>
						<li><a href="http://book.cakephp.org/1.1/en/">1.1</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="primary"><a href="http://community.cakephp.org">Community</a>
			<ul class="second-level">
				<li><a href="http://webchat.freenode.net/?channels=cakephp&uio=MT1mYWxzZSY5PXRydWUmMTE9MjQ2b8">Help &amp; Support</a></li>
				<li><a href="http://cakephp.lighthouseapp.com">Issues</a></li>
				<li><a href="http://bakery.cakephp.org">The Bakery</a></li>
				<li><a href="http://stackoverflow.com/tags/cakephp">Stack Overflow</a></li>
				<li><a href="http://www.facebook.com/groups/cake.community">Facebook Group</a></li>
				<li><a href="http://goo.gl/mSC0s">Google+ Community</a></li>
				<li><a href="http://www.youtube.com/user/CakePHP">YouTube Channel</a></li>
				<li><a href="http://twitter.com/CakePHP">Follow us on Twitter</a></li>
				<li><a href="http://groups.google.com/group/cake-php">Google Group</a></li>
				<li><a href="http://github.com/cakephp/cakephp/contributors">Contributors</a></li>
				<li><a href="http://plugins.cakephp.org">Plugins &amp; Packages</a></li>
				<li><a href="http://community.cakephp.org/get-involved">Get Involved</a></li>
				<li><a href="http://community.cakephp.org/guidelines">Guidelines</a></li>
				<li><a href="http://cakefest.org">CakeFest</a></li>
				<li><a href="http://cakephp.org/logos">Logo</a></li>
			</ul>
		</li>
		<li class="primary"><a href="http://cakephp.org/services">Services</a>
			<ul class="second-level">
				<li><a href="http://cakephp.org/services/certification">Certification</a></li>
				<li><a href="http://cakephp.org/services/consultation">Consultation</a></li>
				<li><a href="http://cakephp.org/services/support">Support</a></li>
				<li><a href="http://training.cakephp.org">Training</a></li>
			</ul>
		</li>
	</ul>
</div>
